[core]
	editor = vim
	pager = less -S
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
[color "status"]
	changed = yellow
[cola]
	spellcheck = false
[push]
	default = current
[pull]
	rebase = true
[fetch]
	prune = true
